* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #F59C1F;
}

body {
    position: relative;
    max-width: 1650px;
    height: 100vh;
    width: 100vw;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
    position: absolute;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
}

header img {
    width: 16vw;
    animation: start 3s .5s linear both;
}

body a.back {
    position: absolute;
    top: 4vh;
    left: 4vh;
    font-size: 50px;
    transition: .3s;
    animation: start 3s .5s linear both;
}

body a.back:hover {
    font-size: 60px;
}

body div {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: start 3s .5s linear both;
}

body div label {
    display: none;
}

body div p.select {
    display: block;
    margin-bottom: 5vh;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

body div form select {
    display: inline-block;
    height: 7vh;
    width: 25vw;
    font-size: 30px;
    background-color: transparent;
    color: #bbbbbb;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    border: 2px #F59C1F solid;
}

body div form input[type = 'submit'] {
    margin-top: 3vh;
    width: 20vh;
    height: 5vh;
    border: 2px #F59C15 solid;
    background-color: transparent;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

body div form input[type = 'submit']:hover {
    background-color: #F59C15;
    color: #323436;
}

/*MEDIA QUERIES*/
@media (orientation: landscape) and (max-width: 823px) {
    body div {
        top: 65%;
    }

    body div form select  {
        width: 50vw;
        height: 14vh;
    }

    body div form input[type = 'submit'] {
        width: 30vh;
        height: 10vh;
    }
}

@media (orientation: portrait) and (max-width: 1024px) {
    header img {
        width: 50vw;
    }

    body div {
        top: 65%;
    }

    body div form select  {
        width: 50vw;
        height: 8vh;
    }

    body div form input[type = 'submit'] {
        width: 30vh;
        height: 10vh;
        font-size: 30px;
    }
}

@media (orientation: portrait) and (max-width: 414px) {
    header {
        top: 7vh;
    }

    body div {
        top: 65%;
    }

    body div form select  {
        width: 50vw;
        height: 8vh;
    }

    body div form input[type = 'submit'] {
        width: 30vh;
        height: 10vh;
        font-size: 30px;
    }
}

/*ANIMATIONS*/
@keyframes start {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}